@font-face {
  font-family: 'customfont';
  src: url('../font/customfont.eot?22035824');
  src: url('../font/customfont.eot?22035824#iefix') format('embedded-opentype'),
       url('../font/customfont.woff?22035824') format('woff'),
       url('../font/customfont.ttf?22035824') format('truetype'),
       url('../font/customfont.svg?22035824#customfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'customfont';
    src: url('../font/customfont.svg?22035824#customfont') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "customfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 0;
 
 /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-beaker:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-vkontakte-1:before { content: '\e807'; } /* '' */
.icon-tumblr-1:before { content: '\e808'; } /* '' */
.icon-skype-outline:before { content: '\e809'; } /* '' */